version: "3.8"

services:
  backend:
    build:
      context: ./server
    container_name: backend-app
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build:
      context: .
    container_name: frontend-app
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
