@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-green: #7d8035;
  --color-primary-dark: #565824;
  --color-text-main: #333333;
  --color-border-color: #e0e0e0;

  --font-sans: "Lato", sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-white dark:bg-slate-900;
  }
}